---
permalink: /feed.xml
excludeFromSitemap: true
---
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ (site.shortName + " — Research Notes") | xmlEscape }}</title>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/blog/"/>
  <id>{{ site.url }}/</id>
  <updated>{% if collections.posts.length %}{{ collections.posts[0].date | isoDate }}{% endif %}</updated>
  {% for post in collections.posts %}
  <entry>
    <title>{{ post.data.title | xmlEscape }}</title>
    <link href="{{ site.url }}{{ post.url }}"/>
    <id>{{ site.url }}{{ post.url }}</id>
    <updated>{{ post.date | isoDate }}</updated>
    <summary>{{ post.data.summary | xmlEscape }}</summary>
  </entry>
  {% endfor %}
</feed>
